<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <ul class='list-group'>
        <li class='list-group-item active'>
          Mostrar aqui a lista com o nome das categorias
        </li>
        <li class='list-group-item success'>
          Deve ser possivel clicar e selecionar: <strong>(click)</strong>
        </li>
        <li class='list-group-item success'>
          Dica: criar um metodo no app.component.ts para captar o click
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul class='list-group'>
        <li class='list-group-item active'>
          <strong>Caso exista uma categoria selecionada *ngIf</strong>, mostre a lista de produtos daquela categoria
        </li>
        <li class='list-group-item success'>
          Deve ser possivel clicar e selecionar: (click)
        </li>
      </ul>

    </div>
    <div class="col-md-4">
      <table class="table table-sm">
        <tr>
          <th>
            Quando tiver um produto selecionado
          </th>
          <td>
            Mostrar os detalhes aqui
          </td>
        </tr>
      </table>
    </div>

  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          Adicionar produto na categoria <strong>{{ nomeDaCategoria }}</strong>

        </div>
        <div class="panel-body">

          <div class="form-group">
            <label for="categoryID">Category ID (preendhe automatico com a categoria selecionada) :</label>
            <input type="number" class="form-control" disabled [(ngModel)]="categoryID" name="categoryID"
              id="categoryID">
          </div>

          <div class="form-group">
            <label for="productCode">Product Code:</label>
            <input type="text" class="form-control" [(ngModel)]="productCode" name="productCode" id="productCode">
          </div>

          <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" [(ngModel)]="productName" name="productName" id="productName">
          </div>

          <div class="form-group">
            <label for="listPrice">List Price:</label>
            <input type="number" class="form-control" [(ngModel)]="listPrice" name="listPrice" id="listPrice">
          </div>

          <div class="form-group">
            <h4>Criar um botao aqui, salvar na base e atualizar a lista de produtos</h4>
          </div>

        </div>
      </div>

    </div>
  </div>


</div>