
<div class="container-fluid">
  <div class="row">

    <div class="col-md-4">

      <h3>Categorias:</h3>
      <ul class='list-group'>
        <li 
          class="list-group-item"
          (click)="clicaCategoria(categoria)"
          *ngFor="let categoria of minhasCategorias" >
            {{ categoria.categoryName }}
        </li>
      </ul>

      <h3>Produtos:</h3>
      <h4>
        Filtro vem aqui
      </h4>
      <ul class='list-group'>
          <li 
            class="list-group-item"
            (click)="clicaProduto(produto)"
            *ngFor="let produto of meusProdutos" >
              {{ produto.productName }}
          </li>
        </ul>

      </div>
    
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Category ID</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>List Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="detalhesProduto">            
            <td>{{ detalhesProduto.productID }}</td>
            <td>{{ detalhesProduto.categoryID }}</td>
            <td>{{ detalhesProduto.productCode }}</td>
            <td>{{ detalhesProduto.productName }}</td>
            <td>{{ detalhesProduto.listPrice }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          Adicionar produto na categoria <strong>{{ nomeDaCategoria }}</strong>

        </div>
        <div class="panel-body">

          <div class="form-group">
            <label for="categoryID">Category ID (preendhe automatico com a categoria selecionada) :</label>
            <input type="number" class="form-control" disabled [(ngModel)]="categoryID" name="categoryID"
              id="categoryID">
          </div>

          <div class="form-group">
            <label for="productCode">Product Code:</label>
            <input type="text" class="form-control" [(ngModel)]="productCode" name="productCode" id="productCode">
          </div>

          <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" [(ngModel)]="productName" name="productName" id="productName">
          </div>

          <div class="form-group">
            <label for="listPrice">List Price:</label>
            <input type="number" class="form-control" [(ngModel)]="listPrice" name="listPrice" id="listPrice">
          </div>

          <div class="form-group">
              <!-- desabilitando os botoes se nao tiver valor -->
            <button 
              [disabled]='productCode == null || productName == null || listPrice == null'
              class="btn btn-primary" 
              (click)="adiciona()">
              Salvar
            </button>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Adicionar categoria <strong>{{ nomeDaCategoria }}</strong>

        </div>
        <div class="panel-body">
          CRIAR AQUI AQUI OS CAMPOS PARA ADICIONAR <br/>
          Observe como a tabela existe no banco <br/>
          Compare com os campos do formulário <br/>
        </div>
      </div>

    </div>

  </div>


</div>