


<table class="table">
        <thead>
            <th> age </th>
            <th> eyeColor </th>
            <th> name </th>
            <th> gender </th>
            <th> company </th>
        </thead>
        <tbody>
          <tr *ngIf="escolhido">
            <td> {{ escolhido.age }} </td>
            <td> {{ escolhido.eyeColor }} </td>
            <td> {{ escolhido.name }} </td>
            <td> {{ escolhido.gender }} </td>
            <td> {{ escolhido.company }} </td>
          </tr>
        </tbody>
      </table> 